
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav img {
    width: 40px;
}

nav {
    position: fixed;
    top: 0;
}

a li {
    text-decoration: none;
    list-style-type: none;
}





/* dark mode */
@media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
  }

.dark-mode {
    position: relative;
    margin: auto 10px auto 10px;
}

.dark{
    background-color: black;
    color: white;

}

.sun, .moon{
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
}
.moon{
    position: absolute;
    inset: 0;
    color: blue;
}
.moon-logo{
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}
.sun-logo{
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}
.animate-sun{
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}
.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}
body {
    transition: 1s;
}

/* box */

.box {
    border-radius: 20px;
    background-color: rgb(173, 151, 151);
    display: flex;
    flex-direction: row;
    border: solid 2px;
    box-shadow:  -10px 5px 10px 5px;
    margin: 10px auto 10px auto;
    top: 0;
    transition: top ease 0.5s;
    color: rgb(36, 23, 23);
    
}

.box:hover {
    top: -50px;
}

.box-text {
    margin: 10px auto 10px auto;
}

.box i  {
    margin: 10px auto 10px auto;
}


/* second-main */

.second-main {
    color: rgb(221, 210, 210);
    display: flex;
    width: 90%;
    background-color: #202223;
    border-radius: 15px;
    padding: 20px;
    box-shadow:  -10px 5px 10px 5px;
    margin: 10px;
}

.second-main p h2 h5 {
    font-size: 1rem;
} 

.defaut-box {
    color: black;
    background-color: white;
    border: solid 2px rgb(236, 220, 220);
    margin: 50px auto 50px auto;
    padding: 10px;
    overflow-wrap: break-word;
}

.inline {
    display: inline-flex;
    gap: 30px;
    margin: 10px 0 0 0;
}

/* secondary box */

.second-box {
    display: flexbox;
    overflow-wrap: break-word;
    margin: 10px;
    background-color: #f4f6ff;
    border: solid 2px;
    padding: 10px;
    color: rgb(31, 26, 26);
}


/* footer */

footer a {
    color: rgb(70, 61, 61);
    list-style-type: none;
    text-decoration: none;
}

ul {
    list-style: none;
    
}

footer h2 {
    font-size: 1.1rem;
}

footer {
    padding: 70px 0;
    background-color: rgb(180, 150, 150);
}



